/*                                  # Ignore everything
!index.html                         
!readme.html                        
!style.css                          
!sitemap.xml                        
!sitemap.html                       
!.gitignore                         
.github/*                           
!.github/workflows/                
