<IfModule mod_rewrite.c>
    RewriteEngine On

    # For all 404 requests, send them to custom-handler.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /custom-handler.php [L]
</IfModule>
